<div class="flex flex-col gap-10 items-center text-black">
    <div>
        <h1
            class="text-8xl mt-10 font-[Bebas_Neue]"
        >About</h1>
    </div>
    <div class="flex flex-col gap-5 text-3xl text-center md:text-start md:text-5xl ">
        <div>
            Author: <a class="underline hover:cursor-pointer" href="https://github.com/ArseniySemenenko" target="_blank">ArseniySemianenka</a>
        </div>
        <div>
            Practice project: realisation of <a class="underline hover:cursor-pointer" href="https://fakestoreapi.com" target="_blank">FakeStoreApi</a>
        </div>
        <div>
            GitHub repository: <a class="underline hover:cursor-pointer" href="https://github.com/ArseniySemenenko/FakeStoreAngular" target="_blank">Link</a>
        </div>
    </div>
</div>