<div
    class="w-[90vw] h-[30vh] mt-5 shadow-md rounded-3xl flex justify-center items-center"
>
    <div
        class="flex w-[90%] items-center justify-between"
    >
        <div>
            <img 
                src={{product().image}}
                class="w-[15vh] h-[15vh]"
            >
        </div>
        <div class="text-center">
            {{product().title}}
            <p><strong
                class="text-2xl text-green-600"
            >{{product().price}}$</strong></p>
        </div>
        <div>
            <button
                (click)="this.cartService.removeFromCart(this.product().id)"
                class="hover:cursor-pointer active:text-gray-500"
            >
                remove
            </button>
        </div>
    </div>
</div>