<div
    class="w-70 h-100 rounded-2xl shadow-md flex flex-col justify-around m-2 transition-all duration-150 hover:-translate-y-2"
>
    <div
        class="w-full h-[50%] relative flex flex-col justify-center items-center"
    >
        <span class="text-gray-400 absolute top-px left-1.25">{{product().category}}</span>
        <img 
            src={{product().image}}
            class="max-w-full max-h-[50%]"
        >
    </div>
    <div
        class="text-center px-5"
    >
        <h2>{{product().title}}</h2>
    </div>
    <div
        class="flex justify-around"
    >
        <div>
            <strong
                class="text-2xl text-green-600"
            >{{product().price}}$</strong>
        </div>
        <div>
            @if(isInCart()){
                <span
                    class="text-gray-500"
                >
                    in cart
                </span>
            }
            @else{
                <button
                (click)="addToCart()"
                >add to cart</button>
            }
        </div>
    </div>
</div>